<h1 id="tableLabel">Hacker News</h1>

<p>This component demonstrates fetching data from the Hacker News API and filtering it via text search.</p>

<p *ngIf="!hackerNewsItems"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<p>Search: <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchChanged($event)" /></p>
<table *ngIf="hackerNewsItems">
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of hackerNewsItems">
      <td>{{ item.title }}</td>
      <td>{{ item.url }}</td>
    </tr>
  </tbody>
</table>
